<?php

define('CONTACT_EMAIL_ADDRESS', 'Mark Wilson <mark@example.com>');
define('GOOGLE_ANALYTICS_CODE', 'UA-12345678-9');

defined('APPLICATION_ENV') || define('APPLICATION_ENV', (getenv('APPLICATION_ENV') ? getenv('APPLICATION_ENV') : 'production'));
