:root {
  --stack-spacing: 1.5rem;

  --color-black-rgb-components: 27, 38, 48; /* #1B2430 */
  --color-black: rgb(var(--color-black-rgb-components));

  --color-white: white;

  --background-image: linear-gradient(
    to top,
    var(--color-black),
    #51557e,
    #816797,
    #d6d5a8
  );
}

html {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-color: #1b2430;
}

html,
body {
  height: 100%;
}

html,
body,
#root {
  min-height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Eczar, serif;
  color: var(--color-black);
}

h1,
h2 {
  font-size: calc(min(3rem, 48px));
  line-height: calc(max(2.5rem, 44px));
  font-weight: 400;
  word-spacing: 100vw;
  padding: 0;
  text-shadow: 1px 2px 3px var(--color-black);
}

h1 {
  margin: 0 0 var(--stack-spacing) 0;
}

.page {
  width: 300px;
  margin: 0 auto;
  padding: calc(var(--stack-spacing) * 2) 1rem;
  box-sizing: border-box;
  background: rgba(var(--color-black-rgb-components), 0.8);
  color: var(--color-white);
  border-radius: 0 0 1rem 1rem;
}
