<!DOCTYPE html>
<html lang="en">
<head>
    <!--[if IE]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title>Mark Wilson - Software Engineer</title>
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/contact.js"></script>

    <meta name="keywords" content="software engineer, web developer, PHP, open source, freelance" />
    <meta name="description" content="Mark Wilson - Software Engineer" />

    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
</head>
<body>
<div class="container">
    {% block content %}{% endblock %}

    <div class="pull-right">
        <ul class="inline">
            <li>
                <a href="https://github.com/markwilson" rel="me">GitHub: markwilson</a>
            </li>
        </ul>
    </div>
</div>

<div id="contact" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
    <form class="form-horizontal">
        <div class="modal-header">
            <h2 id="contactLabel" class="text-center">Get in touch</h2>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="inputName">Name</label>
                <div class="controls">
                    <input type="text" name="name" id="inputName" placeholder="Name" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputEmail">E-mail</label>
                <div class="controls">
                    <input type="text" name="email" id="inputEmail" placeholder="E-mail address" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputMessage">Message</label>
                <div class="controls">
                    <textarea name="message" id="inputMessage" rows="3" placeholder="Message"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer form-actions">
            <button type="submit" class="btn btn-success">Send message</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        </div>
    </form>
</div>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-41253476-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

</body>
</html>
