set :application, "markwilson.me"
set :repository,  "git://github.com/markwilson/markwilson.me.git"
set :scm, :git
set :deploy_via, :remote_cache
set :git_enable_submodules, 1

set :use_sudo, false

set :ssh_options, { :forward_agent => true }

set :branch, "master"

task :staging do
    role :web, "DEPLOY_HOST"
    set :deploy_to, "DEPLOY_PATH/staging/"
end

task :production do
    role :web, "DEPLOY_HOST"
    set :deploy_to, "DEPLOY_PATH/production/"
end

namespace :deploy do
    task :migrate do
        # do nothing
    end

    task :finalize_update, :except => { :no_release => true } do
        # run composer update
        run "cd #{releases_path}/#{release_name} && curl -s http://getcomposer.org/installer | php && php composer.phar --no-dev --no-interaction install && rm composer.phar"

        # initialise config files
        run "ln -s #{shared_path}/config/parameters.yml #{releases_path}/#{release_name}/app/config/parameters.yml"
    end
end