{% extends "default.html.twig" %}

{% block content %}
    <div class="hero-unit clearfix">
        <h1>Mark Wilson <small>Web developer</small></h1>
        <div class="clearfix" id="tagline">
            <p class="pull-left">PHP 7, Symfony 2 &amp; 3, Behat, PHPUnit, JavaScript, AWS, Git, MySQL.</p>
        </div>
        <p class="pull-right">
            <button data-target="#contact" class="btn btn-primary btn-large" data-toggle="modal">
                Get in touch
            </button>
        </p>
    </div>
{% endblock %}
