{% extends "default.html.twig" %}

{% block content %}
    <div class="jumbotron hero-unit clearfix">
        <h1>Mark Wilson</h1>

        <p class="lead">Software Engineer and Technical Team Lead.</p>

        <p>
            <button data-target="#contact" class="btn btn-primary btn-large" data-toggle="modal">
                Message me
            </button>
        </p>
    </div>
{% endblock %}
