.fixed-bottom-right {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.theme-switch {
  background: var(--color-black);
  border: 0;
  border-radius: 2rem;
  padding: 0;
  margin: 0;
  border: 0;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  box-shadow: 0 2px 4px 1px rgba(var(--color-black-rgb-components), 0.25);
}

.theme-switch img {
  width: 2rem;
}
