#loader {
  font-size: 1rem;
  text-align: center;
  margin-top: 6rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;

  animation-name: fade-in, blink-animation;
  animation-duration: 500ms, 1000ms;
  animation-delay: 0ms, 500ms;
  animation-timing-function: linear, linear;
  animation-iteration-count: 1, infinite;

  color: #666;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes blink-animation {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
