:root {
  --color-background: #307351;
  --color-content-background: #fffffe;
  --color-primary-text: #333333;
  --color-secondary-text: #f25042;
  --color-heading-text: #020826;

  --color-button-background: var(--color-secondary-text);
  --color-button-text: var(--color-content-background);
}

/* reset padding + margin */
html,
body,
p,
h1,
h2,
dl,
dt,
dd,
button {
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--color-background);
  font-smooth: antialiased;
}

body {
  font-family: "Ropa Sans", sans-serif;
  color: var(--color-primary-text);
}

#root {
  background-color: var(--color-content-background);
  border-radius: 6px;
  overflow: hidden;
  margin: 100px auto;
  width: 800px;

  display: flex;
  flex-direction: row;
  gap: 0;

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

#portrait {
  height: 400px;
  position: relative;
}

#portrait,
#content {
  width: 400px;
}

#content {
  max-height: 400px;
}

#content {
  box-sizing: border-box;
  padding: 30px;
  color: var(--color-primary-text);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 30px;
}

#content h1 {
  text-align: center;
}

#content p {
  line-height: 24px;
  font-size: 18px;
}

button {
  font-family: "Ropa Sans", sans-serif;
  cursor: pointer;
}

button,
a.button-link {
  display: inline-block;
  border-radius: 6px;
  background-color: var(--color-button-background);
  color: var(--color-button-text);
  text-decoration: none;
  font-size: 16px;
  line-height: 26px;
  width: 88px;
  text-align: center;
  border: 1px solid var(--color-button-background);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover,
a.button-link:hover {
  background-color: var(--color-button-text);
  color: var(--color-button-background);
}

#links {
  text-align: center;
}

#cv {
  display: none;
}

h2 {
  font-size: 20px;
  line-height: 20px;
  color: var(--color-heading-text);
}

dl {
  margin-left: 12px;
  margin-bottom: 18px;
}

dt {
  font-size: 16px;
  line-height: 16px;
}

dd {
  font-size: 12px;
  line-height: 12px;
  color: var(--color-secondary-text);
  margin-bottom: 12px;
}

#heading-image-for-small-screens {
  display: none;

  position: absolute;
  top: 54px;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 820px) {
  #root {
    flex-direction: column;
    width: 400px;
    margin: 20px auto;
  }

  #content {
    max-height: unset;
  }

  #heading-image {
    display: none;
  }

  #heading-image-for-small-screens {
    display: block;
  }
}
